// SIZES
$global_padding: 12px;

// COLORS
// system
$color-success: green;
$color-warning: orange;
$color-error: red;

// theme
$color-default: #333;
$color-primary: #333;
$color-secondary: #333;
$color-accent: #333;
