.link {
    color: blue;

    &--button {
        font-size: 1.6rem;
        font-weight: 500;

        &, &:hover {
            text-decoration: none;
        }
    }

    &.active {
        color: red;
    }
}
