.layout-root {
    padding: $global_padding;
}

.layout-block {
    outline: 1px dashed grey;
}

.site-header {
    outline: 1px dashed grey;
}

.page-content {
    outline: 1px dashed grey;
}

.site-footer {
    outline: 1px dashed grey;
}