.layout-block {
    padding: $global_padding;
}

.layout-root {
    outline: 1px dashed grey;
}

.site-header {
    outline: 2px solid purple;
    margin-bottom: $global_padding / 2;
}

.page-content {
    outline: 1px dashed grey;
}

.site-footer {
    outline: 2px solid purple;
    margin-top: $global_padding / 2;
}