html, body {
    height: 100%;
}

.layout-block {
    padding: $global_padding;
}

.layout-root {
    outline: 1px dashed grey;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
}

.site-header {
    outline: 2px solid purple;
    margin-bottom: $global_padding / 2;
    flex: 0 0 auto;
}

.page-content {
    outline: 1px dashed grey;
    flex: 1;
    min-height: 500px;
    overflow: auto;
}

.site-footer {
    outline: 2px solid purple;
    margin-top: $global_padding / 2;
    flex: 0 0 auto;
}