---
layout: default
---
<div><a href="/blog/" class="link link--button">< blog</a></div>

<h1>{{ page.title }}</h1>

<pre>{{ page.author | jsonify }}</pre>

{% assign author = site.authors | where: 'short_name', page.author | first %}

{% assign author2 = site.authors | find: 'short_name', page.author %}

<script>
    var author = {{ author | jsonify }};
    var author2 = {{ author2 | jsonify }};    
</script>

<p>
    {{ page.date | date_to_string }} - {{ page.author }}

    {% if author %}
        <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
</p>


{{ content }}